.publish{
    display: flex;
    flex-direction: row;

}
.title{
    color: rgba(0, 0, 0, 0.733);
    font-weight: inherit;
}

.img{
    justify-content: flex-end;
}
.publish-info{
    margin-left: 20px;
}
.value{
    font-weight: bold;
    color: #58D68D;
}